<main class="main-wrapper">
  <div class="wrapper-films">
    <h2>Tu búsqueda</h2>
    <article class="" id="art-">
     <p class=""> película</p>
     <img class="" src="" alt="Carátula de la película">
    </article>
    <article class="" id="art-">
      <p class=""> película</p>
      <img class="" src="" alt="Carátula de la película">
     </article>
     <article class="" id="art-">
      <p class=""> película</p>
      <img class="" src="" alt="Carátula de la película">
     </article>
  </div>
  <div class="wrapper-favourites">
    <h2>Favoritos</h2>
    <ul>
      <li class="" id="">
       <p class=""> película</p>
       <img class="" src="" alt="Carátula de la película"> 
      </li>
      <li class="" id="">
        <p class=""> película</p>
        <img class="" src="" alt="Carátula de la película"> 
       </li>
       <li class="" id="">
        <p class=""> película</p>
        <img class="" src="" alt="Carátula de la película"> 
       </li>
       <li class="" id="">
        <p class=""> película</p>
        <img class="" src="" alt="Carátula de la película"> 
       </li>
    </ul>
  </div>
</main>
