<main class="main-wrapper">
  <div class="wrapper-films">
    <!-- <article class="js-article" id="art-">
     <p class="js-title"> película</p>
     <img class="js-image-film" src="" alt="Carátula de la película">
     <i class="fas fa-heart js-heart"></i>
    </article> -->
  </div>
  <div class="wrapper-favourites">
    <h2>Favoritos</h2>
    <ul class="js-favourites">
      <!-- <li class="wrapper-li" id="">
       <p class=""> sorcerous stabber orphen</p>
       <img class="" src="http://static.tvmaze.com/uploads/images/medium_portrait/228/571703.jpg" alt="Carátula de la película"> 
       <i class="fas fa-heart js-heart"></i>
      </li> -->
    </ul>
  </div>
</main>
