// fonts
$font-primary: 'Quicksand', sans-serif;;

// colors
$color-light: #eeeae1;
$color-dark: black;
$color-primary:#b22ecc71;
$color-accenture:#dda3d5;
$color-secondary:#031f6b;
$color-tertiary:#9c2196;
$color-bright: yellow;

