// fonts
$font-family: 'Solway', serif;

// colors
$color-light: #eeeae1;
$color-dark: black;
$color-primary:peachpuff;
$color-accenture:rgb(241, 160, 160);
$color-secondary:rgb(11, 167, 146);
$color-tertiary:rgb(15, 202, 177);

