.header-wrapper {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 13px;
  top: 0;
  
  .title {
    color:$color-secondary;
  }

  .searching {
    .userSearch{
     border-radius: 5px;
     padding: 3px;
    }

    .search-btn {
      border-radius: 5px;
      padding: 3px;
      text-transform: capitalize;
      background-color: $color-accenture;
      
    }
    .search-btn:hover {
      cursor: pointer;
    }
    .search-btn:active {
      transform: translateY(4px);
    }
  }  
}


